[buildout]
newest = false
parts =
    pyoctopart
    test
develop = .
develop-dir        = ${buildout:directory}/var/clone/
eggs-directory     = ${buildout:directory}/var/eggs
develop-eggs-directory = ${buildout:directory}/var/develop-eggs
parts-directory    = ${buildout:directory}/var/parts

[pyoctopart]
recipe = zc.recipe.egg
eggs =
    pyoctopart
    requests
    docopt
interpreter = python3

[test]
recipe      = pbp.recipe.noserunner
eggs        = pyoctopart
              requests
              nose
              nose-progressive
              coverage
defaults    = -x
              --with-progressive
              --with-coverage
              --where tests
              --cover-package pyoctopart


